header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 10px;
padding-left: 40px;
padding-right: 40px;
background-color: #ffffff;
position: sticky;
top: 0;
width: 100%;
box-sizing: border-box;
z-index: 1000;
color: #0b1c2d;
}

/*lewa strona nagłówka */
.header_title {
font-size: 18px;
display: flex;
align-items: center;
color: #0b1c2d;
}

.header_title h1 {
margin: 0;
margin-left: 15px;
}

.header_text {
font-size: 18px;
color: #0b1c2d;     
flex-direction: column;
}

/* Prawa strona nagłówka */
.buttons {
display: flex;  
align-items: center;
}

/* Style dla przycisków w nagłówku */
.header_button_1 {
    font-size: 25px;
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #5a0f1b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header_button_2 {
    font-size: 25px;
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #0b1c2d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Logo */
.header_logo {
height: 90px;
width: auto;
margin-right: 20px;
}

ul.nav {
    background-color: #5a0f1b; height: 80px;
    display: flex;
    justify-content: center;
}

ul.nav li {
    background-color: #0b1c2d; margin: 10px;
    list-style-type: none;
}

ul.nav li a {
    color: white; text-decoration: none; font-size: 1.5em;
    display: block; width: 100%; height: 100%;
    line-height: 62px;
    padding: 0 30px;
}